In [ ]:
#SOL 1
#(i)
L=[11,12,13,14]
L.append(50)
L.append(60)
print("After adding 50 and 60: ",L)
#(ii)
L.remove(11)
L.remove(13)
print("After removing 11 and 13: ",L)
#(iii)
L.sort()
print("Sorted in ascending order: ",L)
#(iv)
L.sort(reverse=True)
print("Sorted in descending order: ",L)
#(v)
search_value=13
is_present=search_value in L
print("Is 13 present in L?", is_present)
#(vi)
count=len(L)
print("Number of elements in L:",count)
#(vii)
total_sum=sum(L)
print("Sum of all elements in L:",total_sum)
#(viii)
odd_sum=0
for num in L:
 if num%2!=0:
  odd_sum+=num
print("Sum of all odd numbers in L:",odd_sum)
#(ix)
even_sum=0
for num in L:
  if num%2==0:
    even_sum+=num
print("Sum of all even numbers in L:",even_sum)
#(x)
def is_prime(num):
 if num<2:
  return False
 for i in range(2,int(num**0.5)+1):
     if num%i==0:
      return False
 return True
prime_sum=0
for num in L:
   if is_prime(num):
    prime_sum+=num
print("Sum of all prime numbers in L:",prime_sum)
#(xi)
L.clear()
print("After clearing all elements in L:",L)
#(xii)
del L

After adding 50 and 60:  [11, 12, 13, 14, 50, 60]
After removing 11 and 13:  [12, 14, 50, 60]
Sorted in ascending order:  [12, 14, 50, 60]
Sorted in descending order:  [60, 50, 14, 12]
Is 13 present in L? False
Number of elements in L: 4
Sum of all elements in L: 136
Sum of all odd numbers in L: 0
Sum of all even numbers in L: 136
Sum of all prime numbers in L: 0
After clearing all elements in L: []

In [ ]:
#SOL 2
numbers = [1, 2, 3, 4, 5]
total_sum = 0
for num in numbers:
    total_sum += num
print("Sum of all items in the list:", total_sum)

Sum of all items in the list: 15

In [ ]:
#SOL 3
numbers = [1, 2, 3, 4, 5]
product = 1
for num in numbers:
    product*= num
print("Product of all items in the list:", product)

Product of all items in the list: 120

In [ ]:
# SOL 4
depth = 3
rows = 4
columns = 6

array_3d = []

for i in range(depth):
    layer = []
    for j in range(rows):
        row = []
        for k in range(columns):
            row.append('*')
        layer.append(row)
    array_3d.append(layer)

for i, layer in enumerate(array_3d):
    print(f"Layer {i + 1}:")
    for row in layer:
        print(' '.join(row))
    print()

Layer 1:
* * * * * *
* * * * * *
* * * * * *
* * * * * *

Layer 2:
* * * * * *
* * * * * *
* * * * * *
* * * * * *

Layer 3:
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
from typing import ValuesView
#SOL 5
#(i)
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
D[8]=8.8
print("After adding new entry:",D)
#(ii)
del D[2]
print("After removing key 2: ",D)
#(iii)
key_present=6 in D
print("Is key 6 in D?",key_present)
#(iv)
count=len(D)
print("Number of elements in D: ",count)
#(v)
total_sum=0
for value in D.values():
  total_sum+=value
print("Sum of all values in D:",total_sum)
#(vi)
D[3]=7.1
print("After updating value of key 3:",D)
#(vii)
D.clear()
print("After clearing the dictionary:",D)

After adding new entry: {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
After removing key 2:  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
Is key 6 in D? False
Number of elements in D:  5
Sum of all values in D: 37.4
After updating value of key 3: {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
After clearing the dictionary: {}

In [ ]:
#SOL 6
#(i)
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
S1.add(55)
S1.add(66)
print("After adding 55 and 66:",S1)
#(ii)
S1.discard(10)
S1.discard(30)
print("After removing 10 and 30:",S1)
#(iii)
is_present=40 in S1
print("Is 40 in S1?",is_present)
#(iv)
union=S1.union(S2)
print("Union of S1 and S2:",union)
#(v)
intersection=S1.intersection(S2)
print("Intersection of S1 and S2:",intersection)
#(vi)
difference=S1.difference(S2)
print("S1-S2:",difference)

After adding 55 and 66: {50, 66, 20, 55, 40, 10, 60, 30}
After removing 10 and 30: {50, 66, 20, 55, 40, 60}
Is 40 in S1? True
Union of S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of S1 and S2: {40, 50, 60}
S1-S2: {66, 20, 55}

In [ ]:
#SOL 7
#(i)
import random
import string

def generate_random_string(length):
    return ''.join(random.choices(string.ascii_letters, k=length))

for _ in range(100):
    length = random.randint(6, 8)
    print(generate_random_string(length))

GWcfyn
WAdHIOf
LYrMzSg
XfYhcLrm
RPzQFcYs
SREdij
kyqrRE
DliLXaQX
jEeFat
BFJeAXo
OQfaixQh
xhNWeTXb
apPQQie
TNKqJk
SjjPNsAZ
bwSwhMUr
ioLFex
hXjZYHDK
bnMUCirS
jeArVV
JYjQQvG
djcghG
vbOaXOuE
ewkSJh
VZvwgmu
FMiPiLPT
HHdmxe
IjMNzx
XMcQfpKN
CINHihzG
AiETypwO
GibakSnD
kiTMkH
wkncfSE
dPaCLZf
pyEocv
FWRMpQ
JgjEeGk
Yxaqbz
UibRjHv
TjsCUI
KtUmGe
TlaWHX
JIcNpvzo
OkKexdJM
gYxrSLh
XDHvRk
NFXowZ
vTfwuEc
XyLggRw
KeZeZX
lrOBLzI
xwGRXJvB
SPwruRm
SXaeOm
cRFkeQ
KhVYpK
RdNgYR
VBwFWEXX
oNxFFCOt
UsjVFs
jVGaeDDA
ZQDUFb
PvAgjDNx
AUdsJDe
oWCgbmZ
IMRkrbn
axLjfNxg
JKiUxPa
LbiCKiH
zufnJpNt
stffEyKw
eZeyarpG
SxIhfW
lOmWBM
BSWstzE
aHmYPFr
TLoOaQ
THCCGKR
tjBTduq
YlsYTn
WvRVgJ
gXEiamB
MCdDIOb
BtuSUH
MeitEVh
NSRmAtKs
PwPZkKT
wttiCU
xfPwvI
dMQFti
rFxTdg
CUOyVBsT
EsbmzyT
ncSqiNl
GCtbDNVF
dmNIcQjX
QiklYLc
IATGkBs
PaKmfps

In [ ]:
#(ii)
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
#(iii)
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
#SOL 8
exam_st_date = (11, 12, 2014)
day, month, year = exam_st_date
print(f"Examination is scheduled to start on: {day}/{month}/{year}")

Examination is scheduled to start on: 11/12/2014

In [ ]:
#SOL 9
numbers=[10,15,22,25,30]
for num in numbers:
  if num % 5==0:
    print(num)

10
15
25
30

In [ ]:
#SOL 10
number = 8

is_even = (number % 2 == 0)
is_odd = (number % 2 != 0)

print(f"The number {number} is even: {is_even}")
print(f"The number {number} is odd: {is_odd}")

The number 8 is even: True
The number 8 is odd: False

In [ ]:
#SOL 11
text = "Emma is a common name, Emma Watson is a famous actress. Emma is also a popular name in fiction."

count = text.count("Emma")
print(f"The substring 'Emma' appears {count} times in the given string.")

The substring 'Emma' appears 3 times in the given string.

In [ ]:
#SOL 12
list1 = [1, 2, 3, 4, 5, 6]
list2 = [10, 15, 20, 25, 30, 35]

odd_numbers_from_list1 = [num for num in list1 if num % 2 != 0]
even_numbers_from_list2 = [num for num in list2 if num % 2 == 0]

new_list = odd_numbers_from_list1 + even_numbers_from_list2
print("New list with odd numbers from the first list and even numbers from the second list:", new_list)

New list with odd numbers from the first list and even numbers from the second list: [1, 3, 5, 10, 20, 30]