In [ ]:
#SOL 1
def cal_diff(num):
  diff=num-17
  if num >17:
    return 2* abs(diff)
  return abs(diff)
print(cal_diff(25))
print(cal_diff(7))

16
10

In [ ]:
#SOL 2
def within_range(num):
  return(100<=num<=1000) or (num==2000)
print(within_range(500))
print(within_range(1500))
print(within_range(2000))

True
False
True

In [ ]:
#SOL 3
def str_rev(s):
  return s[::-1]
print(str_rev("hello"))

olleh

In [ ]:
#SOL 4
def check_case(s):
  upper_count=sum(1 for char in s if char.isupper())
  lower_count=sum(1 for char in s if char.islower())
  return upper_count,lower_count
print(check_case("How are you"))

(1, 8)

In [ ]:
#SOL 5
def new_list(lst):
  return list(set(lst))
print(new_list([1,1,2,2,2,3,3]))

[1, 2, 3]

In [ ]:
#SOL 6
def even_numbers(lst):
  return[num for num in lst if num%2==0]
print(even_numbers([1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [ ]:
#SOL 7
def outer_func():
  def inner_func():
    return"Hello"
  return inner_func()
print(outer_func())

Hello

In [ ]:
#SOL 8
def student(name,age,grade):
  student.args=(name,age,grade)
  print("Function attributes (arguments): ",student.args)
student("Raman",14,"11th Grade")

Function attributes (arguments):  ('Raman', 14, '11th Grade')

In [ ]:
#SOL 9
class Student:
 def __init__(self,student_id,student_name,student_class):
    self.student_id=student_id
    self.student_name=student_name
    self.student_class=student_class
 def display_attributes(self):
    print(f"ID:{self.student_id}")
    print(f"Name:{self.student_name}")
    print(f"Class:{self.student_class}")
student=  Student(2,"Ram","10th grade")
student.display_attributes()

ID:2
Name:Ram
Class:10th grade

In [ ]:
#SOL 10
class Student:
  def __init__(self,name,age,grade):
    self.name=name
    self.age=age
    self.grade=grade
student1=Student("Ram",19,"A")
student2=Student("Sham",22,"B")

print(f"student1.name={student1.name}")
print(f"student1.age={student1.age}")
print(f"student1.grade={student1.grade}")

print(f"student2.name={student2.name}")
print(f"student2.age={student2.age}")
print(f"student2.grade={student2.grade}")

student1.name=Ram
student1.age=19
student1.grade=A
student2.name=Sham
student2.age=22
student2.grade=B

In [ ]:
#SOL 11
class Circle:
  def __init__(self,radius):
    self.radius=radius
  def area(self):
    return 3.14*(self.radius**2)
  def perimeter(self):
    return 2*3.14*self.radius
circle=Circle(5)
print("Area of the circle:",circle.area())
print("Perimeter of the circle: ",circle.perimeter())

Area of the circle: 78.5
Perimeter of the circle:  31.400000000000002

In [ ]:
#SOL 12
class stringManipulator:
  def __init__(self):
    self.user_string=" "
  def get_string(self):
    self.user_string=input("Enter a string: ")
  def print_string(self):
     print(self.user_string.upper())
manipulator=stringManipulator()
manipulator.get_string()
manipulator.print_string()

Enter a string: hello
HELLO