<a href="https://colab.research.google.com/github/janya1908/pythonlab/blob/main/WORKSHEET_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SOL 1
print("Twinkle,twinkle,little star,")
print("How I wonder what you are!")
print("Up above the world so high,")
print("Like a diamond in the sky.")
print("Twinkle,twinkle,little star,")
print("How I wonder what you are!")

Twinkle,twinkle,little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle,twinkle,little star,
How I wonder what you are!

In [ ]:
#SOL 2
first_name=input("Enter your first name: ")
last_name=input("Enter your last name: ")
print(f"{last_name} {first_name}")

Enter your first name: Janya
Enter your last name: Makhija
Makhija Janya

In [ ]:
#SOL 3
radius=float(input("Enter the radius of the circle: "))
area=3.14*(radius**2)
print(f" The area of the circle is:{area}")

Enter the radius of the circle: 2
 The area of the circle is:12.56

In [ ]:
#SOL 4
color_list=["Red","Green","White","Black"]
print("First color:",color_list[0])
print("Last color:",color_list[-1])

First color: Red
Last color: Black

In [ ]:
#SOL 5
n=int(input("Enter an integer value for n:"))
nn=int(str(n)+str(n))
nnn=int(str(n)+str(n)+str(n))
result=n+nn+nnn
print("The result of n+nn+nnn is:",result)

Enter an integer value for n:1
The result of n+nn+nnn is: 123

In [ ]:
#SOL 6
numbers=input("Enter comma-separated numbers:")
num_list=numbers.split(',')
num_tuple=tuple(num_list)
print("List:",num_list)
print("Tuple:",num_tuple)

Enter comma-separated numbers:1,2,3,4
List: ['1', '2', '3', '4']
Tuple: ('1', '2', '3', '4')

In [ ]:
#SOL 7
celsius=float(input("Enter temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print("Temperature in fahrenheit:",fahrenheit)

Enter temperature in celsius:0
Temperature in fahrenheit: 32.0

In [ ]:
#SOL 8
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
a,b=b,a
print(f"After swapping:a={a},b={b}")
a+=1
print(f"After incrementing'a':a={a}")

Enter the first number:2
Enter the second number:4
After swapping:a=4,b=2
After incrementing'a':a=5

In [ ]:
#SOL 9
number=int(input("Enter a number:"))
if number%2==0:
  print("The number is even.")
else:
  print("The number is odd")

Enter a number:222
The number is even.

In [ ]:
#SOL 10
year=int(input("Enter a year:"))
if(year%4==0 and year%100!=0)or(year%400==0):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

Enter a year:2022
2022 is not a leap year.

In [ ]:
#SOL 11
x1=float(input("Enter x coordinate of first point:"))
y1=float(input("Enter y coordinate of first point"))
x2=float(input("Enter x coordinate of second point"))
y2=float(input("Enter y coordinate of second point "))
a=(x2-x1)**2
b=(y2-y1)**2
distance=(a+b)**0.5
print("The Euclidean distance is:",distance)

Enter x coordinate of first point:1
Enter y coordinate of first point0
Enter x coordinate of second point2
Enter y coordinate of second point 0
The Euclidean distance is: 1.0

In [ ]:
#SOL 12
angle1=float(input("Enter the first angle:"))
angle2=float(input("Enter the second angle:"))
angle3=float(input("Enter the third angle:"))
if angle1+angle2+angle3==180:
  print("The angles can form a triangle.")
else:
  print("The angles cannot form a triangle.")

Enter the first angle:40
Enter the second angle:20
Enter the third angle:30
The angles cannot form a triangle.

In [ ]:
#SOL 13
principal=float(input("Enter the principal amount:"))
rate=float(input("Enter the annual interest rate(in %):"))/100
time=float(input("Enter the time in years:"))
n=int(input("Enter the number of times interest is compounded per year:"))
amount=principal*(1+rate/n)**(n*time)
interest=amount-principal
print(f"Compound Interest is :{interest}")

Enter the principal amount:1000
Enter the annual interest rate(in %):1
Enter the time in years:1
Enter the number of times interest is compounded per year:1
Compound Interest is :10.0

In [ ]:
#SOL 14
num=int(input("Enter a positive integer:"))
if num<=1:
  print(f"{num} is not a prime number.")
elif num>1:
  for i  in range(2,num):
     if(num%i==0):
      print(f"{num} is not a prime number")
      break
     else:
      print(f"{num} is a prime number")
      break

Enter a positive integer:7
7 is a prime number

In [ ]:
N=int(input("Enter a positive integer N:"))
total=(N*(N+1)*(2*N+1))/6
print(f"The sum of squares from 1 to {N} is {total}")

Enter a positive integer N:3
The sum of squares from 1 to 3 is 14.0